<!-- prettier-ignore -->
<% var meta={ title: "Rumsan Money" , author: 'Rumsan Associates' ,
  description: "We aim to provide you with all the data and information about the banks, their offered products and services."
  , url: "https://rumsanmoney.com" , image: "https://assets.rumsan.com/askbhunte/assets/rumsanmoney-blk-0003.png" ,
  keywords: "Ask Bhunte, Banks in Nepal, banks around me, banks, loan in nepal, home loan in nepal, education loan in nepal,auto loan in nepal,how to get loan in nepal"
  }; if(typeof page !=='undefined' ){ meta.title=page.title || meta.title; meta.description=page.description ||
  meta.description; meta.image=page.image || meta.image; meta.author=page.author || meta.author; meta.url=page.url ||
  meta.url; if(page.keywords) meta.keywords=meta.keywords + "," + page.keywords } %>
  <title>
    <%=meta.title%>
  </title>
  <!-- Global / universal meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="description" content="<%=meta.description%>" />
  <meta name="keyword" content="<%=meta.keywords%>" />
  <meta name="language" content="English" />
  <meta name="revisit-after" content="1 day" />
  <meta property="og:image" content="<%=meta.image%>" />
  <meta property="og:title" content="<%=meta.title%>" />
  <meta property="og:type" content="article" />
  <meta property="og:author" content="<%=meta.author%>" />
  <meta property="og:url" content="<%=meta.url%>" />
  <meta property="og:description" content="<%=meta.description%>" />
  <meta property="fb:app_id" content="2336751366393244" />
  <meta property="article:author" content="<%=meta.author%>" />
  <meta property="twitter:title" content="<%=meta.title%>" />
  <meta property="twitter:image" content="<%=meta.image%>" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@askbhunte" />
  <meta name="twitter:creator" content="@askbhunte" />
  <meta name="twitter:description" content="<%=meta.description%>" />
  <meta name="twitter:url" content="@askbhunte" />

  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="https://assets.rumsan.com/askbhunte/assets/rumsanmoney-blk-0003.png" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="robots" content="index, archive" />

  <link rel="shortcut icon" href="https://assets.rumsan.com/esatya/rumsan-money-favicon-new-1.png	" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="/materialui/assets/css/material-kit.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <link rel='stylesheet' href='/css/custom.css' />
  <link rel='stylesheet' href='/css/mobile.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHBKFXPMMV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-WHBKFXPMMV');
  </script>