<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
    <style>
      .image-style-side {
        float: right;
        margin-left: var(--ck-image-style-spacing);
        max-width: 50%;
      }

      .image {
        display: table;
        clear: both;
        text-align: center;
        margin: 1em auto;
      }

      .image img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        min-width: 50px;
        padding: 20px;

      }

      blockquote {
        overflow: hidden;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        border-left: 5px solid #ccc;
      }

      /**/
      .media {
        width: 100%;
      }

      .media oembed {
        width: 100%;
      }

      .embedly-card {
        width: 100%;
      }

      .embedly-card-hug {
        width: 100%;
        min-width: none !important;
        max-width: none !important;
      }

      .embedly-card iframe {
        width: 100%;
        min-width: none;
        max-width: none;
      }

      @media only screen and (max-width: 600px) {
        .img-fluid {
          max-width: 120px;
        }

        .image-style-side {
          float: none;
          margin-left: 0px !important;
          max-width: 100%;
        }

        .image {
          display: table;
          clear: both;
          text-align: center;
          margin: none;
        }

        .image img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          min-width: 50px;
          padding: 20px;

        }
      }

      /*extras heading color blue*/
      h1,
      h2,
      h3 {
        color: #0d5572;
      }
    </style>
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
</head>

<body>
  <%- include('_layouts/navbar') %>

    <div style="background-color:white">
      <div class="container extra-info">
        <div class="row">
          <div class="col-md-12">
            <div class="about-us">
              <%- category && category.extras ? category.extras : '' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color:#e1e1e1">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-2">
            <img src="https://assets.rumsan.com/askbhunte/assets/2122931.png" class="img-fluid"
              alt="${category.name ? category.name : ''}">
          </div>
          <div class="col-md-8">
            <div class="about-us">
              <h1 class="custom-title" style="text-align: left">REQUIRED DOCUMENTS</h1>
              <p class="custom-learn-p">
                <%- category && category.required_docs ? category.required_docs : '' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products-recommend mt-5">
      <div class="container">
        <h2 class="mb-5" style="text-align: left;"><strong>Products You May Like</strong></h2>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <% if(products[0].type && products[0].type==='Insurance' ){ products.forEach((el)=> { %>
                <div class="col-md-3">
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="productsCard mouse-hover popular-desc info text-center py-4"
                      onclick="window.open('/learn-insurance/<%-el.companyInfo.slug%>/<%-el.slug%>','_self')">
                      <div class="icon icon-info" style="width:150px;height:150px;margin:0 auto;">
                        <img class="img-fluid" src="<%= el.companyInfo.longImg%>"
                          style="width:100%;height:100%;object-fit: contain;"
                          onerror="this.onerror=null;this.src='https://assets.rumsan.com/askbhunte/assets/bhunte.png';"
                          alt="<%-el.companyInfo.name%>" />
                      </div>
                      <h4 class="info-title recommend-product" style="font-family: Gilroy">
                        <%= el.name ? el.name :"" %> by
                      </h4>
                      <h4 class="info-title mt-0 recommend-bank" style="font-family: Gilroy-bold">
                        <%= el.companyInfo.name ? el.companyInfo.name :"" %>
                      </h4>
                    </div>
                  </div>
                </div>

                <%})} else{ products.forEach((el)=> { %>
                  <div class="col-md-3">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="productsCard mouse-hover popular-desc info text-center py-4"
                        onclick="window.open('/learn/<%-el.bankinfo.slug%>/<%-el.slug%>','_self')">
                        <div class="icon icon-info" style="width:150px;height:150px;margin:0 auto;">
                          <img class="img-fluid" src="<%= el.bankinfo.product_url%>"
                            style="width:100%;height:100%;object-fit: contain;"
                            onerror="this.onerror=null;this.src='https://assets.rumsan.com/askbhunte/assets/bhunte.png';"
                            alt="<%-el.bankinfo.name%>" />
                        </div>
                        <h4 class="info-title recommend-product" style="font-family: Gilroy">
                          <%= el.name ? el.name :"" %> by
                        </h4>
                        <h4 class="info-title mt-0 recommend-bank" style="font-family: Gilroy-bold">
                          <%= el.bankinfo.name ? el.bankinfo.name :"" %>
                        </h4>
                      </div>
                    </div>
                  </div>
                  <%}) }%>
            </div>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center mb-4">
          <% if(products[0].type && products[0].type==='Insurance' ){%>
            <button id="viewMoreBtn" type="button" class="btn btn-primary btn-lg btn-curve explore-btn"
              onclick="window.open('/insurance?type=<%-products[0].categoryinfo.name%>','_self')">View
              More</button>
            <% } else{ %>
              <button id="viewMoreBtn" type="button" class="btn btn-primary btn-lg btn-curve explore-btn"
                onclick="window.open('/<%- products[0].loan_type === 'saving'? 'savings' : 'loan'%>?type=<%-products[0].ptype%>','_self')">View
                More</button>
              <% } %>
        </div>
      </div>
    </div>
    <%- include('_layouts/footer') %>
</body>
<script src="/js/embed.js"></script>
<script>
  let category = `<%- category && category.extras ? category.extras : ''%>`;
  if (!category) {
    $(".extra-info").css("display", "none", "important");
  }
</script>
<script src="/js/learnResourcesListeners.js"></script>

</html>